<!-- Activities Section -->
    <section id="activities" class="bg-brayford">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Activities</h2>
                    <h3 class="section-heading text-muted">Two days of hacking prototypes, designs, or artworks themed around the Magna Carta. Come for just one of the days, or for both</h3>
                </div>
            </div>
            <div class="row text-center">

                <!-- TODO add more here -->
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gbp fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">It's FREE!!</h4>
                    <p class="text-primary">Yes, that's right. We're not charging for the HackFest, and will even supply you with food and drinks!!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Bring your own machine</h4>
                    <p class="text-primary">We'll have a variety of random hardware and peripherals for you, but make sure to bring your own laptop.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bed fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sleeping in Real Beds!!</h4>
                    <p class="text-primary">Hacking all night is fun, but perhaps you want to hang out a bit, and also be able to attend the rest of the conference ...</p>
                </div>
            </div>
        </div>
    </section>
