<!-- Hackers Grid Section -->
    <section id="hackers" class="bg-cathedral">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hackers</h2>
                    <h3 class="section-subheading text-muted">Email us, raise an <a href="https://github.com/lincolnSocialComputing/british-hci2015-hackfest/issues/new">issue</a>, or fork and send a pull request</h3>
                </div>
            </div>
            <div class="row">
            {% for hacker in site.hackers %}
                <div class="col-md-4 col-sm-6 post-item">
                    <a href="#hackerModal{{ hacker.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/hackers/{{ hacker.img }}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ hacker.name }}</h4>
                        <p class="text-muted">{{ hacker.tagline }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
