<!-- Registration Section -->

<section id="registration" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How to Register for the Hackfest</h2>
                <h3 class="section-subheading text-muted">
                    <a href="{{ site.registrationMailtoURL }}">email</a> - or - <a href="{{ site.registrationIssueURL }}">raise issue</a> - or - <a href="{{ site.registrationForkURL }}">fork and pull request</a></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <A HREF="{{ site.registrationMailtoURL }}">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">email -
                        <em>the easiest way!!</em>
                    </h4>
                </a>
                <p class="text-muted">The link above with populate an email appropriately, but if you prefer the manual approach read below</p>
                <p class="text-muted">Email
                    <A HREF="mailto:bhci2015hackfest@gmail.com">bhci2015hackfest@gmail.com</a> with the details below:
            </div>
            <div class="col-md-4">
                <A HREF="{{ site.registrationIssueURL }}">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bug fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">raise an issue -
                        <em>easy if you have a github account!!</em>
                    </h4>
                </a>
                <p class="text-muted">The link above with populate a new issue for you, but if you prefer the manual approach read below</p>
                <p class="text-muted">Provide details below at
                    <a href="https://github.com/lincolnSocialComputing/british-hci2015-hackfest/issues/new">https://github.com/lincolnSocialComputing/british-hci2015-hackfest/issues/new</a>
                </p>
            </div>
            <div class="col-md-4">
                <A HREF="{{ site.registrationForkURL }}">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code-fork fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">fork and pull request -
                        <em>if you've done forking and PRs before!!</em>
                    </h4>
                </a>
                <p class="text-muted">Instructions at <a href="https://github.com/lincolnSocialComputing/british-hci2015-hackfest/#hackers-details">https://github.com/lincolnSocialComputing/british-hci2015-hackfest/#hackers-details</a></p>
            </div>
        </div>
        <div class="">
            <ul class="text-muted">
                <li>
                    <p class="text-primary">main details:</p>
                    <ul class="list-inline">
                        <li>photo
                            <strong>(attach);</strong>
                            <li>
                                <li>name;</li>
                                <li>tagline;</li>
                                <li>institution;</li>
                                <li>institution url;</li>
                                <li>institution logo;</li>
                                <li>personal website;</li>
                                <li>biography (100-200 words)</li>
                    </ul>
                    </li>
                    <li>
                        <p class="text-primary"> optional social media urls:</p>
                        <ul class="list-inline item-details">
                            <li>github username;</li>
                            <li>facebook id;</li>
                            <li>twitter handle;</li>
                            <li>linkedin id</li>
                        </ul>
                    </li>
                    <li>
                        <p class="text-primary">any other notes, such as:</p>
                        <ul class="list-inline item-details">
                            <li>"I'll only be coming for the Monday as I'm involved in the Doctoral Networking Day (Tuesday, July 14th 2015)"</li>
                        </ul>
                    </li>
            </ul>
        </div>
    </div>
</section>
