<!-- Registration Section -->

<section id="registration" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How to Register for the Hackfest</h2>
                <h3 class="section-subheading text-muted"><A HREF="{{ site.registrationMailtoURL }}">email</a> - raise issue - pull request</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <A HREF="{{ site.registrationMailtoURL }}"><span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">email - the easiest way!!</h4></a>
                <p class="text-muted">The link above with populate an email appropriately, but if you prefer the manual approach read below</p>
                <p class="text-muted">Email: <A HREF="mailto:bhci2015hackfest@gmail.com">bhci2015hackfest@gmail.com</a> with the following details:
                    <ul class="list-inline item-details">
                        <li>name;</li>
                        <li>tagline;</li>
                        <li>institution;</li>
                        <li>institution url;</li>
                        <li>institution logo;</li>
                        <li>personal website;</li>
                        <li>biography (100-200 words)</li>
                    </ul>
                    <p class="text-muted">and optional some social media urls.</p>
                    <ul class="list-inline item-details">
                        <li>github username;</li>
                        <li>facebook id;</li>
                        <li>twitter handle;</li>
                        <li>linkedin id</li>
                    </ul>
                    <p class="text-muted">any other notes, such as, "I'll only be coming for the Monday as I'm involved in the Doctoral Networking Day (Tuesday, July 14th 2015)"</p>

                </div>
            </div>
        </section>
