<!-- Sponsors Aside -->
  <section id="sponsors">
      <aside class="sponsors">
          <div class="container">
              <div class="row">
                  <div class="col-md-2 col-sm-6">
                      <a href="http://lisc.lincoln.ac.uk/">
                        <img src="img\logos\lisc_red.png" class="img-responsive img-centered" alt="LiSC Logo">
                      </a>
                  </div>
                  <div class="col-md-2 col-sm-6">
                      <a href="http://di.ncl.ac.uk/">
                        <img src="img\logos\dilogo.png" class="img-responsive img-centered" alt="Digital Interaction @ Culture Lab Logo">
                      </a>
                  </div>
                  <div class="col-md-2 col-sm-6">
                      <a href="http://www.lincoln.ac.uk/">
                          <img src="img\logos\lincoln_university_logo.png" class="img-responsive img-centered" alt="University of Lincoln Logo">
                      </a>
                  </div>
                  <div class="col-md-2 col-sm-6">
                      <a href="http://www.ncl.ac.uk/">
                          <img src="img\logos\newcastle_university_logo.png" class="img-responsive img-centered" alt="Newcastle University Logo">
                      </a>
                  </div>
                  <div class="col-md-2 col-sm-6">
                      <a href="http://dl.acm.org/">
                          <img src="img/logos/ACM_ICPS.png" class="img-responsive img-centered" alt="ACM International Conference Proceeding Series (ICPS) Logo">
                      </a>
                  </div>
              </div>
          </div>
      </aside>
  </section>
