<!-- timeline Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">You can come on Monday <strong>OR</strong> Tuesday <strong>OR</strong> both. We know you may have other things on.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Monday July 13th 2015 - 10:00</h4>
                                    <h4 class="subheading">Coffee and mingling</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Get to know each other. Perhaps bounce some ideas around.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Monday 10:30</h4>
                                    <h4 class="subheading">Introduction</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">What the Hack this is all about. How we'll run the days? etc.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Monday 11:00</h4>
                                    <h4 class="subheading">Ideation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Throwing ideas around? Coming up with projects and specific themes?</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Monday 12:30</h4>
                                    <h4 class="subheading">Lunch!!!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lunch Lunch Lunch</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Monday 13:00</h4>
                                    <h4 class="subheading">Grouping and start ofHacking!!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Choose which project you want to work, and enough other people want to work and, and get cracking</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Monday 16:00</h4>
                                    <h4 class="subheading">Break!!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Take a break. Have a look are how other teams are doing. Switch teams if you want. Nothing is set in stone (or written on 800 year old parchment ...)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Monday 16:30</h4>
                                    <h4 class="subheading">Crack-a-lack!!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Get back into it</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Monday 18:30</h4>
                                    <h4 class="subheading">Food!! Dinner nibbles</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Yum Yum Yum!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Monday 20:00</h4>
                                    <h4 class="subheading"><strong>STOP!!</strong> and socialise</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Don't be Macho - stop, have a break, talk to people, get a good night's sleep, be functional the next day :-)</p>
                                    <p class="text-muted">Tie up loose ends if you're doing other things on Tuesday</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Tuesday July 14th 2015 10:00</h4>
                                    <h4 class="subheading">Continue, or join if you couldn't make day 1</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">talk, type, hack, hiccup, prototype, prattle, create, chat, embue, enjoy</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Tuesday 12:30</h4>
                                    <h4 class="subheading">Lunch!!!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lunch Lunch Lunch</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Tuesday 16:00</h4>
                                    <h4 class="subheading">Last hour!!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">3 ... 2 ... 1 ...</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Tuesday 17:00</h4>
                                    <h4 class="subheading">Finish and judging and PRIZES</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">YES!!! PRIZES</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image" href="">
                                <h4>Be Part Of
                                    <br>Of Story!
                                    <br>Register Now</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-body">
                                    <p class="text-muted">Hacks will be documented on this site</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
