.navbar-default {
    border-color: transparent;
    background-color: #222;
}


.bg-green {
    background-color: #00ff00;
}

.text-secondary {
    color: #{{ site.color.secondary }};
}

.bg-brayford {

    position: relative;
    background: #f7f7f7;
    overflow: hidden;
}

.bg-brayford:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.30;
    background-image: url("img/logos/brayford.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}

.bg-cathedral {

    position: relative;
    background: #f7f7f7;
    overflow: hidden;
}

.bg-cathedral:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.30;
    background-image: url("img/logos/cathedral1.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;
}


.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

.hacker {
    margin-bottom: 50px;
    margin: 20px;
    text-align: center;
}


.hacker img {
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: contain;
    height: 225px;
}

.hacker p {
    text-align: left;
    margin-top: 20px;
}

.institution {
    float:left;
    line-height:30px;

}

.institution img {
    float: right;
    height: 80px !important;
    padding-left: 100px;
    clear: both;
}
